.footer {
    background-color: white;
    color: #26619C;
    padding: 0px 0;
    text-align: center;
  }
  
  .footer .contact-info {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    background-color: #26619C;
    color: white;
}
.footer .contact-item {
    display: flex;
    align-items: center;
    margin: 0 15px;
    color: white
}
.footer .contact-item img {
    height: 100px;
    margin-right: 10px;
}


  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: white;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
  }
  
  .footer-section p,
  .footer-section ul,
  .footer-section li {
    margin: 5px 0;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }
  