.header {
    background-color: #8081c8;
    padding: 0px;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .header ul li {
    margin: 0 10px;
  }
  
  .header ul li a {
    color: white;
    text-decoration: none;
  }
  
  .header ul li a:hover {
    text-decoration: underline;
  }
  