.header {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.header .logo img {
  height: 100px; /* Adjust as needed */
}

.header nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-main, .nav-secondary {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-main {
  margin-bottom: 10px; /* Add space between the two ul elements */
}

.nav-main li, .nav-secondary li {
  margin: 0 10px;
}

.nav-main li a, .nav-secondary li a {
  color: black;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth color transition */
}

.nav-main li a:hover, .nav-secondary li a:hover {
  color: #26619C; /* Change color on hover */
  text-decoration: none; /* Ensure no underline on hover */
}