.home {
  text-align: center;
  padding: 0px;
  width: 100%;
  background-color: white;
}

.banner {
  padding: 100px 0;
  background-image: url('../bannerBG.jpg'); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the entire banner area */
  background-position: center;
  width: 100%;
}

.banner h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  margin: 0;
  color: #26619C;
}

.banner p {
  font-size: 1.2em;
  color: goldenrod;
}

.featured-products {
  margin: 0;
}

.featured-products h2 {
  font-size: 1.8em;
  margin-bottom: 0px;
}

.customer-reviews {
  padding: 50px 0;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 20px; /* Spacing between columns */
  text-align: center; /* Center align content */
}

.customer-reviews h2 {
  font-size: 2em;
  margin-bottom: 20px;
  grid-column: 1 / -1; /* Span across all columns */
}

.review {
  background-color: white; /* Optional styling */
  padding: 20px;
  text-align: left;
}

.review p {
  font-size: 1.2em;
  line-height: 1.6;
}

.stars {
  color: #ffc107; /* Yellow color for stars */
  font-size: 1.5em; /* Adjust size as needed */
}
