.services {
    padding: 50px 0;
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .services h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    color: #26619C;
    margin-bottom: 40px;
  }
  
  .service {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service:nth-child(even) .service-text {
    order: 2;
  }
  
  .service-text {
    flex: 1;
    padding: 20px;
    text-align: left;
  }
  
  .service-text h2 {
    font-size: 1.8em;
    color: #333;
  }
  
  .service-text p {
    font-size: 1.2em;
    color: #666;
  }
  
  .service-image {
    flex: 1;
    padding: 20px;
  }
  
  .service-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  